body {
  background-color:purple;
	}
#box {
	background-color:red;
	height:400px;
	width:600px;
	}
#dick {
	height:350px;
	width:550px;
	margin-top:25px;
	margin-left:25px;
	}
#nav {
	float:right;
	color:black;
	margin-top:-500px;
	}
#c {
	background-color:yellow;
	height:300px;
	width:500px;
	margin-top:25px;
	margin-right:25px;
	margin-left:25px;
	}
#d {
	background-color:yellow;
	height:350px;
	width:550px;
	margin-right:25px;
	margin-top:25px;
	}
#z {
	position:absolute;
	top:820px;
	left:160px;
	}
